<!DOCTYPE html>
<html>
  <head>
    <title>Idiomary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header>
      <nav>
        <div class="nav-left">
          <%= link_to "Idiomary", root_path, class: "logo" %>
        </div>

        <div class="nav-center">
          <div class="language-selector">
            <%= link_to "🇬🇧 EN", url_for(locale: :en), class: I18n.locale == :en ? 'active' : '' %>
            <%= link_to "🇮🇹 IT", url_for(locale: :it), class: I18n.locale == :it ? 'active' : '' %>
            <%= link_to "🇫🇷 FR", url_for(locale: :fr), class: I18n.locale == :fr ? 'active' : '' %>
            <%= link_to "🇪🇸 ES", url_for(locale: :es), class: I18n.locale == :es ? 'active' : '' %>
            <%= link_to "🇵🇹 PT", url_for(locale: :pt), class: I18n.locale == :pt ? 'active' : '' %>
          </div>
        </div>

        <div class="nav-right">
          <% if user_signed_in? %>
            <p>Hello <%= current_user.email %></p>
            <%= link_to "My Dictionary", my_dictionary_path %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </nav>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
