<!DOCTYPE html>
<html>
  <head>
    <title>Idiomary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>
    <nav>
      <% if user_signed_in? %>
        <p>Ciao <%= current_user.email %></p>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Registrati", new_user_registration_path %>
      <% end %>
    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
